* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #111111;
    color: #dddddd;
}

#clock,
#memory,
#network,
#pulseaudio {
    padding: 0 10px;
    margin: 0 4px;
}
